#itron-polly-tts-audio-table {
	display:table;
	width:100%;
	border: 0 !important;
}
#itron-polly-tts-audio-table tbody {
	border: 0 !important;
}
#itron-polly-tts-audio-table tr {
	border: 0 !important;
}
#itron-polly-tts-audio-tab {
width: auto;
display:table-cell;
border: 0;
}
#itron-polly-tts-player-label {
font-size: 80%;
font-family: "Arial", Helvetica, sans-serif;
}
#itron-polly-tts-by-tab {
font-size: .6em;
text-align: right;
}
.itron-polly-tts-player {
width: 100%;
}
